 .border-bottom-primary{

    border-bottom: 20px solid $clr-primary;
 }
 
 .banner {
    padding: 6rem 0;
    background-image: url("/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    height: 80vh;
    text-align: center;
    color: $clr-white;

    @include mediaQuery(){
              
            
        @include grid(1,2rem);
    }
}

 .booknow{

    padding: 2rem 0;
    background-color:#333333;
    color: $clr-white;

    @include mediaQuery(){
              
            
        @include grid(1,2rem);
    }
 }

hr{

    width: 30%;
    margin: 2rem auto;

}

h2{

    font-size: clamp(2rem,3vw,3rem)  
    
}

h3{

    font-size: clamp(1.5rem,2vw,2rem)
}
.services{

    padding: 6rem 0;

    color: $clr-gray;

    &__wrapper{

        @include grid(3,2rem);
        
        @include mediaQuery(){
              
            
            @include grid(1,2rem);
        }
    }
}


 .about{

    
    &__wrapper{

       margin-top: 5rem;    
    
       
    }
    
    
      &__clinic{

       
        margin-top: 10rem;
      }

      &__doctorsdesc{


        margin-bottom: 16rem;
        
        
      }

      &__clinicdesc{

        
        margin-bottom: 6rem;
      }

      @include mediaQuery(){
              
            
        @include grid(1,2rem);
    }
 }

 .testimonials{

    padding: 6rem 0;

color: $clr-gray;

    // &__wrapper{

    //     @include grid(3,2rem);
        
    //     @include mediaQuery(){
              
            
    //         @include grid(1,2rem);
    //     }


        
    // }

    .tns-nav{

        text-align: center;
        margin-top: 5rem auto;
        button{
            color: $clr-gray;
            height: 2rem;
            width: 2rem;
            border: none;
            margin: 0 0.2rem;
            border-radius: 50%;
        }

       
    }

  .tns-nav .tns-nav-active{

        background-color: $clr-primary;
    }


    


   


}

.faq{
    padding: 6rem 0;

    &__wrapper{

        margin-top: 4rem;
        @include mediaQuery(){
              
            
            @include grid(1,2rem);
        }   

    }
 
}



.location {
    padding: 5rem;
    background-color: $clr-gray;

    &__wrapper {
        @include grid(2, 2rem);

        @include mediaQuery() {
            @include grid(1, 2rem);
            justify-content: center;
        }
    }

    hr {
        width: 65%;
        margin: 2rem auto;
        border: 1px solid $clr-primary;
    }

    img {
        height: 450px;
        width: 700px;
    }

    p {
        display: grid;
        padding: 0 5rem 0 5rem;
        color: $clr-white;
    }

    h2 {
        padding: 0 5rem 0 5rem;
        font-size: 30px;
        color: $clr-white;
    }

    h3 {
         font-size: 30px;
        color: $clr-white;
    }
    @include mediaQuery(){
              
            
        @include grid(1,2rem);
    }
}











.footer {
    padding: 5rem;
    background-color: $clr-primary;

    h3 {
        color: $clr-white;
        font-size: 1rem;

    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        color: $clr-white;
    }

    .links_credits p {
        
        justify-content: center;
    }
}






 